[submodule "server"]
	path = server
	url = https://git.unistra.fr/3a/server.git
[submodule "WebBack"]
	path = WebBack
	url = https://git.unistra.fr/3a/WebBack.git
[submodule "WebFront"]
	path = WebFront
	url = https://git.unistra.fr/3a/WebFront.git
