[submodule "server"]
	path = server
	url = https://github.com/3A-Unistra/Server.git
[submodule "WebBack"]
	path = WebBack
	url = https://github.com/3A-Unistra/WebBack.git
[submodule "WebFront"]
	path = WebFront
	url = https://github.com/3A-Unistra/WebFront.git
